@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("../../Landing page/base_Css_Files/primarybase.css");

html,
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.before_login_pc {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 35px 150px;
  background-image: url("../../Landing page/images/auth/all_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.before_login_pc_body {
  margin: auto;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.before_login_pc_body_left {
  width: 60%;
  height: 100%;
  padding: 89px;
  border-radius: 20px 0px 0px 20px;
  background-color: #1770e6;
  background-image: url("../../Landing page/images/auth/bg_svg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.before_login_pc_body_left_overlay_headtext {
  width: 100%;
  text-align: center;
}

.before_login_pc_body_left_overlay_headtext h3 {
  font-size: 1.75rem;
  font-weight: 100;
  color: #fff;
}

/*---------------------------BODY LEFT -----------------------*/

.before_login_pc_body_left_overlay_body {
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

/*---------------------------BODY LEFT POINTS -----------------------*/

/*---------------------------BODY LEFT MObile IMAGES -----------------------*/

.before_login_pc_body_left_overlay_bodyimage {
  width: 100%;
}

.before_login_pc_body_left_overlay_bodyimage_image {
  width: 200px;
  height: 100%;
  margin: auto;
}

.before_login_pc_body_left_overlay_bodyimage img {
  width: 100%;
  height: 100%;
}

/*---------------------LEFT BODY FOOTER--------------*/

.before_login_pc_body_left_overlay_footertext {
  text-align: center;
}

.before_login_pc_body_left_overlay_footertext p {
  margin: 10px 0px;
  color: #fff;
  font-weight: 800;
  padding: 0px;
}

/*---------------------------left part ends here------------------------*/

/*--------------------------right part strats here-----------------------*/

.before_login_pc_body_right h3 {
  margin-bottom: 0px;
  font-weight: 800 !important;
}

.before_login_pc_body_right {
  width: 40%;
  border-radius: 0px 20px 20px 0px;
  padding: 30px;
}

.before_login_pc_body_right_body {
  width: 100%;
  margin: auto auto;
  height: 100%;
  padding: 0px 20px;
  background-color: #ffffff;
  border-radius: 0px;
}

.before_login_pc_body_right_box {
  height: 100%;
  position: relative;
}
.before_login_pc .error p {
  margin-bottom: 0rem;
  color: #ff0f0f;
}
.before_login_pc_body_right_top {
  position: absolute;
}

.before_login_pc_body_right_box_up {
  margin: 10px 0px 0px 0px;
}

.digit-group input:focus {
  outline: none;
}
.brand_logo img {
  width: 100%;
  height: 100%;
}

.digit-group input {
  width: 13%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #b8bcbe;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 200;
  color: var(--standardblack);
  margin: 0 2px;
}

.before_login_pc_body_right_box_up_name {
  font-size: 1.1875rem;
  color: #1770e6;
  font-weight: 500;
  font-family: roboto;
}

.before_login_pc_body_right_box_up_name a {
  color: var(--primarycolor) !important;
  font-weight: 800;
  text-decoration: none;
}

.before_login_pc_body_right_box_middle {
  width: 100%;
  padding: 0px 20px;
  font-family: roboto;
  position: absolute;
  top: 20%;
}

.before_login_pc_body_right_box_middle_text .pblue {
  font-size: 1rem !important;
}
.before_login_pc_body_right_box_middle_text .pgray {
  font-size: 0.8rem !important;
}

.before_login_pc_body_right_business_id_box_middle_form {
  padding: 10px 0px;
  font-family: roboto;
}

.before_login_pc_body_right_business_id_box_middle_form_input {
  border-bottom: 1px solid #b8bcbe;
  margin: 5px auto 5px auto;
  padding: 5px 0px;
  display: flex;
}

.before_login_pc_body_right_business_id_box_middle_form_input svg {
  color: #b8bcbe;
  font-size: 16px;
  width: 20px;
  height: 20px;
}

.before_login_pc_body_right_password_box_middle_form {
  padding: 10px 0px;
  font-family: roboto;
}

.before_login_pc_body_right_password_box_middle_form_input {
  border-bottom: 1px solid #b8bcbe;
  margin: 5px auto 5px auto;
  padding: 5px 0px;
  display: flex;
}

.before_login_pc_body_right_password_box_middle_form_input svg {
  color: #b8bcbe;
  font-size: 16px;
  width: 20px;
  height: 20px;
}

.input_field input {
  margin-left: 5px;
  border: 0;
  width: 90%;
  color: var(--standardblack);
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: roboto;
}

/* .input_field input:focus {

} */

.input_field input::placeholder {
  border: 0;

  outline: none;
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
}

input:focus {
  color: var(--standardblack);
}

.before_login_pc_body_right_box_middle_form_link {
  margin: 5px 0px 10px 0px;
  text-align: right;
  font-family: roboto;
  font-weight: 500;
}

.before_login_pc_body_right_box_middle_form_link a {
  font-size: 0.8125rem;
  font-family: roboto;
  font-weight: 600;
  color: var(--primarycolor) !important;
}

.before_login_pc_body_right_box_middle_buttons {
  padding-top: 5px;
  margin: auto;
  text-align: center;
  font-family: roboto;
}

.before_login_pc_body_right_box_middle_buttons button {
  font-size: 1rem;
  width: 100%;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  background-color: #1770e6;
  color: #f7f8f8;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
}

.before_login_pc_body_right_box_middle_account {
  margin: 30px 0px;
  text-align: center;
  font-size: 0.8125rem;
  font-family: roboto;
}

.before_login_pc_body_right_box_middle_account .link_text {
  color: var(--standardblack);
  font-weight: 600;
}

.before_login_pc_body_right_box_middle_account .link_goto {
  color: var(--primarycolor) !important;
  font-weight: 800;
}
.link_goto button {
  color: #1770e6;
  font-weight: 800;
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.before_login_pc_body_right_box_base {
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #9999b1;
  position: fixed;
  bottom: 7%;
  right: 18%;
}

/*-------------------------------------------------responsive starts here--------------------------------------------------*/

/*-----------------------------------------------------responsive starts here------------------------------*/

/*-----------------------------------------------------responsive starts here------------------------------*/

/*-----------------------------------------------responsive starts here------------------------------*/

/*--------------------------------------------------------responsive starts here------------------------------*/

/*--------------------------------------------------------responsive starts here------------------------------*/

/*-------------------------------------------------responsive starts here------------------------------*/

@media screen and (max-width: 800px) {
  .before_login_pc {
    background: none;
    padding: 0;
  }
  .before_login_pc_body {
    margin: auto;
    border-radius: 20px;
    width: 100% !important;
    height: 100%;
    background-color: #fff;
    display: block;
    flex-wrap: wrap;
  }
  .before_login_pc_body_left {
    display: none;
  }
  .before_login_pc_body_right {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: none;
    border-radius: 0px;
    padding: 0px;
  }
  h3 {
    font-weight: 800;
    font-family: Catamaran;
    font-size: 1.625rem;
  }
  .before_login_pc_body_right_body {
    width: 100% !important;
    margin: auto auto;
    height: 100%;
    padding: 0px 20px;
    background-color: #ffffff;
    border-radius: 0px;
  }
  .before_login_pc_body_right_box {
    height: 100%;
    position: relative;
  }
  .before_login_pc_body_right_top {
    position: absolute;
    margin-top: 5%;
  }
  .before_login_pc_body_right_box_up {
    margin: 10px 0px 50px 0px;
  }
  .before_login_pc_body_right_box_up_name {
    font-size: 1.1875rem;
    color: #1770e6;
    font-weight: 500;
    font-family: roboto;
  }
  .before_login_pc_body_right_box_up_name a {
    color: #1770e6;
    font-weight: 800;
    text-decoration: none;
  }
  .before_login_pc_body_right_box_middle {
    width: 100%;
    padding: 0px 20px;
    font-family: roboto;
    position: absolute;
    top: 25%;
    margin-top: 200px;
  }
  .before_login_pc_body_right_box_middle_text .pblue {
    font-weight: 600;

    font-size: 0.999rem;
  }
  .before_login_pc_body_right_business_id_box_middle_form {
    padding: 10px 0px;
    font-family: roboto;
  }
  .before_login_pc_body_right_business_id_box_middle_form_input {
    border-bottom: 1px solid #b8bcbe;
    margin: 5px auto 5px auto;
    padding: 5px 0px;
  }
  .before_login_pc_body_right_business_id_box_middle_form_input svg {
    color: #b8bcbe;
    font-size: 16px;
    width: 20px;
    height: 20px;
  }
  .before_login_pc_body_right_password_box_middle_form {
    padding: 10px 0px;
    font-family: roboto;
  }
  .before_login_pc_body_right_password_box_middle_form_input {
    border-bottom: 1px solid #b8bcbe;
    margin: 5px auto 5px auto;
    padding: 5px 0px;
    display: flex;
  }
  .before_login_pc_body_right_password_box_middle_form_input svg {
    color: #b8bcbe;
    font-size: 16px;
    width: 20px;
    height: 20px;
  }
  .input_field input {
    border: 0;
    color: var(--standardblack);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-family: roboto;
  }

  .input_field input::placeholder {
    border: 0;

    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-family: roboto;
  }

  .before_login_pc_body_right_box_middle_form_link {
    margin: 15px 0px;
    text-align: right;
    font-family: roboto;
    font-weight: 500;
  }
  .before_login_pc_body_right_box_middle_form_link a {
    font-size: 0.8125rem;
    font-family: roboto;
    font-weight: 600;
    color: #1770e6;
  }
  .before_login_pc_body_right_box_middle_buttons {
    padding-top: 5px;
    margin: auto;
    text-align: center;
    font-family: roboto;
  }
  .before_login_pc_body_right_box_middle_buttons button {
    font-size: 1rem;
    width: 100%;
    margin: auto;
    padding: 5px 0px;
    text-align: center;
    background-color: #1770e6;
    color: #f7f8f8;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 20px;
  }
  .before_login_pc_body_right_box_middle_account {
    margin: 30px 0px;
    text-align: center;
    font-size: 0.8125rem;
    font-family: roboto;
  }
  .before_login_pc_body_right_box_middle_account .link_text {
    font-weight: 600;
  }
  .before_login_pc_body_right_box_middle_account .link_goto {
    color: #1770e6;
    font-weight: 800;
  }
  .before_login_pc_body_right_box_base {
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 600;
    color: #9999b1;
    position: fixed;
    bottom: 5%;
    left: 15% !important;
    right: 14% !important;
  }
}
